In [1]:
import pandas as pd
import numpy as np
import keras
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data/final/1min/BidAsk/BTC_std.csv")

In [3]:
Y = pd.read_csv("data/final/1min/BidAsk/BTC_Y_std.csv")

In [6]:
Y

       y
0      2
1      0
2      2
3      2
4      0
...   ..
16803  1
16804  0
16805  2
16806  1
16807  1

[16808 rows x 1 columns]

In [7]:
r, x = data.shape

In [10]:
dat = np.zeros((r-5, 5, x))

for i in range(r-5):
    dat[i,:,:] = data.iloc[i:i+5,:].values

In [12]:
Y = Y[5:].reset_index(drop = True)

In [13]:
Y

       y
0      0
1      2
2      1
3      2
4      0
...   ..
16798  1
16799  0
16800  2
16801  1
16802  1

[16803 rows x 1 columns]

In [15]:
from xgboost import XGBClassifier

In [23]:
X = dat.reshape(16803, 5*33)

In [24]:
xgb = XGBClassifier(n_estimators=100)
xgb.fit(X, Y)

[23:15:35] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [22]:
dat.reshape(16803, 5*33)

array([[-3.14975695e-01, -9.56186908e-01, -7.94094556e-01, ...,
         2.75780247e-02,  3.66269874e-02,  3.88939094e-02],
       [-3.13477309e-01, -6.99309456e-01,  7.59479658e-02, ...,
         2.74333249e-02,  3.53627416e-02,  3.78316167e-02],
       [-3.11992248e-01, -4.17282876e-01, -5.96679730e-01, ...,
         1.82242398e-02,  2.84731507e-02,  3.09803420e-02],
       ...,
       [-2.34434384e-01,  1.92839446e+00,  2.74300875e+00, ...,
         4.11631383e-03,  5.58846149e-03,  5.24278579e-03],
       [-2.34420190e-01,  3.76470657e+00,  1.76684335e+01, ...,
        -3.84254887e-03, -3.93916540e-03, -3.13508972e-03],
       [-2.34405996e-01,  6.08418964e-01,  5.16035217e+00, ...,
        -5.83238676e-03, -6.95739439e-03, -7.33438254e-03]])

In [26]:
from sklearn.model_selection import cross_val_score

In [29]:
xgb_cv = XGBClassifier(n_estimators=300)
scores = cross_val_score(xgb_cv, X, Y, cv=5, scoring = "accuracy")

/home/martin/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/home/martin/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[23:22:15] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:23:46] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:25:36] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:27:26] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:29:10] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [30]:
scores

array([0.5239512 , 0.47069325, 0.23921452, 0.11369048, 0.23511905])